<div class="header">
    <p class="kicker">{{ meta.kicker }}</p>
    <h1 class="headline">{{ meta.headline }}</h1>
    <h2 class="subhead">{{ meta.subhead }}</h2>
    <p class="byline">{{ meta.author.name }}</p>
    <p class="date">Published {{ meta.published_date }}</p>
</div>
